body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-image: url("bc.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.center-text{
    text-align: center;
    position: relative;
    position: absolute;
    margin-top: 20%;
    margin-left: 41%;
}

.date-wrapper {
    font-size: 20px;
}

.nick {
    font-size: 44px;
}

.song-name {
    margin-top: 69%;
    margin-bottom: 15px;
    margin-right: 10px;
    float: right;
    position: relative;
}

.p-l {
    line-height: 28px;
    margin-top: 5px;
    font-size: 21px;
}

.social a {
    text-decoration: none;
    color: #411de0;
}

.social {
    font-size: 19px;
    margin-top: -5px;
}